.loading-container {
    transition: all 3s;
    display: flex;
    border-radius: 10px;
    max-width: fit-content;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
    align-items: center;
    min-height: 6rem;
}

.loading-text {
    font-size: 2rem;
    text-shadow: 1px 1px black;
    color: #63A566;
    padding: 0 1rem;
    font-family: Arial, Helvetica, sans-serif;
}


